/*----COMMON----*/
*{
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

.flex{
    display: flex;
}

::-webkit-scrollbar {
    width: 0.5rem;

}

::-webkit-scrollbar-track {
    background-color: var(--font-2);
}
::-webkit-scrollbar-thumb {
    background-color: var(--font-1);
    border-radius: 0.25rem;
}