
/*HEADER*/

#opaque-bar{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    background-color: var(--header-bg);
    opacity: 0.5;
}





/*HEADER*/

/* ASIDE */

#sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh - 100px);
    width: 250px;
    background-color: var(--sidebar-bg);
}

#sidebar .container{
    height: 100%
}

#sidebar .col-menu.flex{
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

#sidebar .col-menu.flex .collapsible-menu{
    height: 100%;

    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#sidebar .col-menu.flex .collapsible-menu .scroll{
    overflow-y: auto;
    flex-grow: 1;
    height: calc(2rem + (2rem / 100 * 20))

}
#sidebar .col-menu.flex .collapsible-menu .scroll li{
 padding-left: 1rem;
}

#sidebar .col-menu.flex .profile{
    flex-shrink: 0;

   

}



/* ASIDE */

/*MAIN*/

#full-content{
    align-items: flex-start;
    background-color: var(--main-bg);
}


.right-container{
    margin-left: 250px;
    width: calc(100% - 250px);
    height:calc(100vh - 100px);
    overflow-y: auto;
    
}

#full-content nav ul.flex{
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 2rem;
}

#full-content nav ul.flex li{
    margin: 0 1rem;
}

#full-content h2{
    margin-bottom: 2rem;

}

#full-content .card-container.flex{
    margin: 0 -1rem 0 -1rem;
    width:calc(100% - 2rem);
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.gallery-menu{

    margin-bottom: 2rem;

}

.card{
    width: calc(100% / 6 - 2rem);
    margin: 1rem;
    text-align: center;

}

.card .img-container{
    width: 100%;
}

.card .img-container img{
    max-width: 100%;
    object-fit: scale-down;
    aspect-ratio: 1;
}


/*MAIN*/

/*FOOTER*/
#control-bar{
    position: sticky;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: var(--footer-bg);
    color: var(--font-1);
}

#control-bar .toolbox.flex{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#control-bar .left.flex,  #control-bar .center.flex,  #control-bar .right.flex{
    width: calc(100% / 3);

}

 
 
 
#control-bar .left.info-panel {
    align-items: center;
    
}

#control-bar .left.info-panel .img-container{
    width: 4rem;
    
}

#control-bar .left.info-panel .img-container img{
    width: 100%;
    object-fit: scale-down;
    display: block;
}

#control-bar .left.info-panel .song-info, #control-bar .left.info-panel .song-title, #control-bar .left.info-panel .favourites{
    flex-wrap: wrap;
    margin: 0 0.5rem;

}

#control-bar .left.info-panel .favourites > *{

    margin: 0 0.5rem;

}

#control-bar .center.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#control-bar .center.flex > *{
    display: flex;
    justify-content: space-between;
    
}

#control-bar .center.flex > .commands{
    width: 300px;
    align-items: center;
    
}

#control-bar .center.flex > .commands > *:nth-child(4n + 1) {
    font-size: 1rem;
}

#control-bar .center.flex > .commands > *:nth-child(even) {
    font-size: 1.5rem;
}

#control-bar .center.flex > .commands > *:nth-child(3) {
    font-size: 2rem;
}

#control-bar .center.flex > .playing-state{
    width: 100%;
    align-items: center;
}

#control-bar .center.flex > .playing-state span{
    font-size: 0.7rem;
}

#control-bar .center.flex > .playing-state .bg-bar{
    width: 80%;
    background-color:var(--bg-color) ;
    height: 0.3rem;
    border-radius: 0.15rem;
    
}

#control-bar .center.flex > .playing-state .color-bar{
    width: 20%;
    background-color:var(--progress-color) ;
    height: 0.3rem;
    border-radius: 0.15rem;
    position: relative;
}

#control-bar .center.flex > .playing-state .round{
    background-color:var(--progress-color) ;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 100%;
}


#control-bar .right.flex{
    align-items: center;
    justify-content: flex-end;
}

#control-bar .right.flex > i{
    margin:0 0.5rem ;
}

#control-bar .right.flex .volume{
    width: 40%;
}

#control-bar .right.flex .bg-bar{
    width: 80%;
    background-color:var(--bg-color) ;
    height: 0.3rem;
    border-radius: 0.15rem;
    
}

#control-bar .right.flex .color-bar{
    width: 20%;
    background-color:var(--progress-color) ;
    height: 0.3rem;
    border-radius: 0.15rem;
    position: relative;
}

#control-bar .right.flex .round{
    background-color:var(--progress-color) ;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 100%;
}




/*FOOTER*/

/* RESPONSIVE  */

/* METHOD DESKTOP FIRST */

/* TABLET  */
@media screen and (max-width:1100px) {
    /*MAIN*/

    .card{
        width: calc(100% / 4 - 2rem);
    }
    /*MAIN*/
}

/* MOBILE L */
@media screen and (max-width:700px) {
    .card{
        width: calc(100% / 2 - 2rem);
    }
}

/* MOBILE S */
@media screen and (max-width:600px) {
    
}

/*-------DEBUG---------*/

.debug{

    background-color: aqua;
    /* border: 3px dashed red; */
}

.debug header{

    background-color: goldenrod;
    border: 3px dotted green;
}

.debug aside{
    background-color: lightcoral;
    border: 3px dotted green;
}

.debug main{


    background-color: crimson;
    border: 3px solid blue;
}

.debug footer{
    height: 150px;
    background-color: darkorange;
    border: 3px dashed blueviolet;
}